body
{
	background: url("../images/crystal-background.jpg");

}

.jumbo1
{
	margin-top: 0px;
	height: 50px;
	background: url("../images/crystal-background.jpg");      /*#16243a; #222f44;*/
}

.jumbo2
{
	 background: rgb(60, 60, 60);							/* NOTE: setting opacity to 0.5 will cause the see through effect but, the children <div>/jumbotrons will be affected as well so using rgb fixes that. */
    background: rgba(60, 60, 60, 0.4);

}


.jumboTitle
{
	color: white;
	position: relative;
	bottom: 40px;
}

.Total
{
	height: 213px;
}

.crystal-image 
{
      width: 60px;
      height: 60px;
}

img.crystal-image
{
	 cursor: pointer; 										/* Every time we hover over image the finger pointer cursor appears over each image */
}